# App
APP_PORT=8085
DEV=true

# JWT
JWT_SECRET=change_me_in_prod
JWT_ALGORITHM=HS256
JWT_EXPIRES_MINUTES=60

# Database
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=itam_chat
POSTGRES_PORT=5438
DATABASE_URL=postgresql+asyncpg://postgres:postgres@db:5432/itam_chat

# Reverse proxy (Caddy)
DOMAIN=chat.salut.uno
ACME_EMAIL=admin@example.com


